<%- include('header.ejs') %>        
<%- include('forms.ejs') %>         
        <section class="sec">
                <div class="analyst">
                    <h1 class="analyst-name">Mickey Mouse</h1>
                     <ul class="analyst-projects"> 
                        <li><%= mickeysProjects %></li>
                        <li><%= mickeysProjects %></li>
                        <li><%= mickeysProjects %></li>
                    </ul>
                </div>
        </section>
<%- include('footer.ejs') %>    


